---
layout: 'layouts/internal-page.njk'
permalink: "sprint-guide/resources/index.html"
eleventyExcludeFromCollections: true
---

<h1>Resources</h1>
<article class="measure">
  {% renderFile './sprint-guide/resources/_introduction.md' %}
</article>

<nav>
  <h2>Table of contents</h2>
  <ol>
    <li><a href="#software">Software & Tools</a></li>
    <li><a href="#reading">Reading</a></li>
  </ol>
</nav>

<hr>

<h2 id="software">Software & Tools</h2>
<ul role="list">
  {% for item in resources.software %}
  <li class="software">
    <img class="software__logo" src="{{ item.icon }}" alt="Icon for {{ item.title }}" />
    <div>
      <h3>{{ item.title }}</h3>
      <p>
        <small>Tags</small>
        {% for tag in item.tags %}<span class="tag">{{ tag }}</span>{% endfor %}
      </p>
      <p>{{ item.description }}</p>
      <a href={{ item.url}} target="_blank">Try out {{ item.title }}</a>
    </div>
  </li>
  {% endfor %}
</ul>

<h2 id="reading">Reading</h2>
<ul role="list">
  {% for item in resources.reading %}
  <li class="book">
    <img class="book__logo" src="{{ item.icon }}" alt="Logo for {{ item.title }}" />
    <div>
      <h3>{{ item.title }}</h3>
      <p>
        <small>Tags</small>
        {% for tag in item.tags %}<span class="tag">{{ tag }}</span>{% endfor %}
      </p>
      <p>{{ item.description }}</p>
      <a href={{ item.url}} target="_blank">Read {{ item.title }}</a>
    </div>
  </li>
  {% endfor %}
</ul>

{% renderFile './sprint-guide/resources/_list.md' %}
