---
layout: 'layouts/base'
permalink: "sprint-guide/resources/index.html"
eleventyExcludeFromCollections: true
---

<h1>Resources</h1>
<article class="measure">
  {% renderFile './sprint-guide/resources/_introduction.md' %}
</article>

{% renderFile './sprint-guide/resources/_list.md' %}
