---
layout: 'layouts/internal-page.njk'
permalink: "sprint-guide/resources/index.html"
eleventyExcludeFromCollections: true
---

<h1>Resources</h1>
<article class="measure">
  {% renderFile './sprint-guide/resources/_introduction.md' %}
</article>

<h2>Software & Tools</h2>
<ul>
  {% for item in software %}
    <li class="software-card">
      <img src="{{ item.icon }}" alt="Icon for {{ item.title }}" />
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
    </li>
  {% endfor %}
</ul>

<!-- {% renderFile './sprint-guide/resources/_list.md' %} -->

