/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img {
  max-width: 37.5em;
  /* 600px /16 */
}

p,
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: var(--blue);
}

a[href]:visited {
  color: var(--navy);
}

main {
  padding: 1rem;
}

main :first-child {
  margin-top: 0;
}

header {
  border-bottom: 1px dashed var(--lightgray);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}

code {
  word-break: break-all;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none;
  /* override del, ins, mark defaults */
  color: inherit;
  /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: rgba(69, 69, 69, 0.8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0;
  /* 16px /16 */
  font-size: 1em;
  /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--darkgray);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em;
  /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em;
  /* 12px /16 */
  padding: 0.0833333333em 0.3333333333em;
  /* 1px 4px /12 */
  margin-left: 0.6666666667em;
  /* 8px /12 */
  margin-top: 0.5em;
  /* 6px /12 */
  margin-bottom: 0.5em;
  /* 6px /12 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em;
  /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}

a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}

.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em;
  /* 16px 10px /16 */
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-inline-size: 100%;
}

[hidden] {
  display: none !important;
}

@media (inverted-colors: inverted) {
  img,
video {
    filter: invert(100%);
  }
}

html {
  color: #29292c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: #29292c;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
a:hover {
  color: #e03131;
  text-decoration: none;
}
a:focus {
  outline: 2px solid #2e52e4;
  outline-offset: 2px;
  text-decoration: none;
}

b,
strong {
  font-weight: 700;
}

.tbds-app-frame {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  min-block-size: 100vh;
}

.tbds-app-frame__header {
  flex-grow: 0;
}

.tbds-app-frame__body {
  flex-grow: 1;
}

.tbds-app-frame__body--center-items {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tbds-app-frame__footer {
  flex-grow: 0;
}

.tbds-avatar {
  --tbds-avatar-border-radius: 3px;
  --tbds-avatar-size: 3rem;
  block-size: var(--tbds-avatar-size);
  border-radius: var(--tbds-avatar-border-radius);
  display: inline-block;
  inline-size: var(--tbds-avatar-size);
  object-fit: cover;
}

.tbds-avatar--circle {
  --tbds-avatar-border-radius: 100%;
}

.tbds-avatar--small {
  --tbds-avatar-size: 2rem;
}

.tbds-avatar--large {
  --tbds-avatar-size: 4rem;
}

.tbds-badge {
  background-color: #f5f5f5;
  border: 0;
  border-radius: 0.8em;
  color: #29292c;
  display: inline-block;
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1;
  padding: 0.25em 0.75em;
  vertical-align: baseline;
  white-space: nowrap;
}

.tbds-button {
  --tbds-button-block-size: 2.5rem;
  --tbds-button-padding-inline: 1.5rem;
  align-items: center;
  appearance: none;
  background-color: #e03131;
  block-size: var(--tbds-button-block-size);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  padding-inline-end: var(--tbds-button-padding-inline);
  padding-inline-start: var(--tbds-button-padding-inline);
  text-decoration: none;
  transition: background-color 200ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
@supports (padding-inline: 0) {
  .tbds-button {
    padding-inline: var(--tbds-button-padding-inline);
  }
}
.tbds-button:hover {
  background-color: #c11d1d;
  color: #fff;
}
.tbds-button:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #2e52e4;
  outline: none;
}
.tbds-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.tbds-button:disabled:hover {
  background-color: #e03131;
}

.tbds-button--full-width {
  inline-size: 100%;
}

.tbds-button__icon {
  block-size: 1em;
  fill: currentColor;
  inline-size: 1em;
}

.tbds-button__icon--start {
  margin-inline-end: 0.5em;
}

.tbds-button__icon--end {
  margin-inline-start: 0.5em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

select {
  font-size: 16px;
  inline-size: 100%;
}

.tbds-form {
  --tbds-form-block-size: 2.5rem;
  --tbds-form-padding-inline: 0.5rem;
}

.tbds-form__label {
  display: block;
  font-weight: 700;
  margin-block-end: 0.5rem;
}

.tbds-form__help-text {
  color: #666;
  font-weight: 400;
}

.tbds-form__help-text--block {
  display: block;
  margin-block-start: 0.3rem;
}

.tbds-form__text-input {
  appearance: none;
  background-color: #fff;
  block-size: var(--tbds-form-block-size);
  border: 1px solid #888;
  border-radius: 4px;
  font-size: 16px;
  inline-size: 100%;
  margin: 0;
  padding-inline-end: var(--tbds-form-padding-inline);
  padding-inline-start: var(--tbds-form-padding-inline);
}
@supports (padding-inline: 0) {
  .tbds-form__text-input {
    padding-inline: var(--tbds-form-padding-inline);
  }
}
.tbds-form__text-input:focus {
  border-color: #2e52e4;
  box-shadow: 0 0 0 1px #2e52e4;
  outline: none;
}

.tbds-form__textarea {
  appearance: none;
  background-color: #fff;
  block-size: auto;
  border: 1px solid #888;
  border-radius: 4px;
  font-size: 16px;
  inline-size: 100%;
  line-height: 1.4;
  margin: 0;
  min-block-size: var(--tbds-form-block-size);
  padding: var(--tbds-form-padding-inline);
  resize: vertical;
}
@supports (resize: block) {
  .tbds-form__textarea {
    resize: block;
  }
}
.tbds-form__textarea:focus {
  border-color: #2e52e4;
  box-shadow: 0 0 0 1px #2e52e4;
  outline: none;
}

.tbds-form__choice {
  align-items: baseline;
  display: flex;
}

.tbds-form__choice + .tbds-form__choice {
  margin-block-start: 1rem;
}

.tbds-form__choice--inline {
  display: inline-flex;
}

.tbds-form__choice--inline + .tbds-form__choice--inline {
  margin-block-start: 0;
  margin-inline-start: 1rem;
}

.tbds-form__choice-input {
  margin-inline-end: 0.75rem;
}

.tbds-input-button-unit {
  display: flex;
}

.tbds-input-button-unit__input {
  border-bottom-right-radius: 0;
  border-inline-end: none;
  border-top-right-radius: 0;
  flex: 1 1 auto;
  margin: 0;
}
@supports (border-end-end-radius: 0) {
  .tbds-input-button-unit__input {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
  }
}

.tbds-input-button-unit__button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
@supports (border-start-start-radius: 0) {
  .tbds-input-button-unit__button {
    border-end-start-radius: 0;
    border-start-start-radius: 0;
  }
}

.tbds-icon {
  --tbds-icon-size: 1em;
  block-size: var(--tbds-icon-size);
  fill: currentColor;
}

.tbds-icon--large {
  --tbds-icon-size: 1.25em;
}

.tbds-icon--small {
  --tbds-icon-size: 0.75em;
}

.tbds-media {
  align-items: flex-start;
  display: flex;
}

.tbds-media--block-center {
  align-items: center;
}

.tbds-media__figure {
  margin-inline-end: 8px;
}

.tbds-media__body {
  flex: 1;
}

.tbds-skip-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.tbds-skip-link:active, .tbds-skip-link:focus {
  background-color: #e03131;
  border: 0;
  border-radius: 5px;
  clip: initial;
  color: #fff;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: initial;
  left: 1em;
  margin: initial;
  overflow: hidden;
  padding: 0.75em 1.5em;
  position: absolute;
  top: 1em;
  white-space: normal;
  width: auto;
}
@supports (inset: 1em) {
  .tbds-skip-link:active, .tbds-skip-link:focus {
    inset: 1em auto auto 1em;
  }
}

.tbds-block-stack {
  --tbds-block-stack-gap: 8px;
}

.tbds-block-stack--gap-1 {
  --tbds-block-stack-gap: 4px;
}

.tbds-block-stack--gap-2 {
  --tbds-block-stack-gap: 8px;
}

.tbds-block-stack--gap-3 {
  --tbds-block-stack-gap: 16px;
}

.tbds-block-stack--gap-4 {
  --tbds-block-stack-gap: 24px;
}

.tbds-block-stack--gap-5 {
  --tbds-block-stack-gap: 32px;
}

.tbds-block-stack--gap-6 {
  --tbds-block-stack-gap: 40px;
}

.tbds-block-stack__item:not(:last-child) {
  margin-block-end: calc(var(--tbds-block-stack-gap) / 2);
  padding-block-end: calc(var(--tbds-block-stack-gap) / 2);
}

.tbds-block-stack--bordered .tbds-block-stack__item:not(:last-child) {
  border-block-end: 1px solid #bbb;
}

.tbds-inline-stack {
  --tbds-inline-stack-gap: 8px;
  align-items: center;
  display: flex;
}

.tbds-inline-stack--gap-1 {
  --tbds-inline-stack-gap: 4px;
}

.tbds-inline-stack--gap-2 {
  --tbds-inline-stack-gap: 8px;
}

.tbds-inline-stack--gap-3 {
  --tbds-inline-stack-gap: 16px;
}

.tbds-inline-stack--gap-4 {
  --tbds-inline-stack-gap: 24px;
}

.tbds-inline-stack--gap-5 {
  --tbds-inline-stack-gap: 32px;
}

.tbds-inline-stack--gap-6 {
  --tbds-inline-stack-gap: 40px;
}

.tbds-inline-stack__item:not(:last-child) {
  margin-inline-end: calc(var(--tbds-inline-stack-gap) / 2);
  padding-inline-end: calc(var(--tbds-inline-stack-gap) / 2);
}

.tbds-inline-stack__item--push-start {
  margin-inline-start: auto;
}

.tbds-font-style-normal {
  font-style: normal !important;
}

.tbds-font-style-italic {
  font-style: italic !important;
}

.tbds-font-weight-normal {
  font-weight: 400 !important;
}

.tbds-font-weight-bold {
  font-weight: 700 !important;
}

.tbds-inline-size-20\% {
  inline-size: 20% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-20\%\@small {
    inline-size: 20% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-20\%\@medium {
    inline-size: 20% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-20\%\@large {
    inline-size: 20% !important;
  }
}
.tbds-inline-size-25\% {
  inline-size: 25% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-25\%\@small {
    inline-size: 25% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-25\%\@medium {
    inline-size: 25% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-25\%\@large {
    inline-size: 25% !important;
  }
}
.tbds-inline-size-33\% {
  inline-size: 33.3333% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-33\%\@small {
    inline-size: 33.3333% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-33\%\@medium {
    inline-size: 33.3333% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-33\%\@large {
    inline-size: 33.3333% !important;
  }
}
.tbds-inline-size-40\% {
  inline-size: 40% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-40\%\@small {
    inline-size: 40% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-40\%\@medium {
    inline-size: 40% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-40\%\@large {
    inline-size: 40% !important;
  }
}
.tbds-inline-size-50\% {
  inline-size: 50% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-50\%\@small {
    inline-size: 50% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-50\%\@medium {
    inline-size: 50% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-50\%\@large {
    inline-size: 50% !important;
  }
}
.tbds-inline-size-60\% {
  inline-size: 60% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-60\%\@small {
    inline-size: 60% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-60\%\@medium {
    inline-size: 60% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-60\%\@large {
    inline-size: 60% !important;
  }
}
.tbds-inline-size-67\% {
  inline-size: 66.6666% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-67\%\@small {
    inline-size: 66.6666% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-67\%\@medium {
    inline-size: 66.6666% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-67\%\@large {
    inline-size: 66.6666% !important;
  }
}
.tbds-inline-size-75\% {
  inline-size: 75% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-75\%\@small {
    inline-size: 75% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-75\%\@medium {
    inline-size: 75% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-75\%\@large {
    inline-size: 75% !important;
  }
}
.tbds-inline-size-80\% {
  inline-size: 80% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-80\%\@small {
    inline-size: 80% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-80\%\@medium {
    inline-size: 80% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-80\%\@large {
    inline-size: 80% !important;
  }
}
.tbds-inline-size-100\% {
  inline-size: 100% !important;
}

@media (min-width: 32em) {
  .tbds-inline-size-100\%\@small {
    inline-size: 100% !important;
  }
}
@media (min-width: 50em) {
  .tbds-inline-size-100\%\@medium {
    inline-size: 100% !important;
  }
}
@media (min-width: 72em) {
  .tbds-inline-size-100\%\@large {
    inline-size: 100% !important;
  }
}
.tbds-line-height-0 {
  line-height: 0 !important;
}

.tbds-margin-block-0 {
  margin-block: 0 !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-0\@small {
    margin-block: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-0\@medium {
    margin-block: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-0\@large {
    margin-block: 0 !important;
  }
}
.tbds-margin-block-1 {
  margin-block: 4px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-1\@small {
    margin-block: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-1\@medium {
    margin-block: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-1\@large {
    margin-block: 4px !important;
  }
}
.tbds-margin-block-2 {
  margin-block: 8px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-2\@small {
    margin-block: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-2\@medium {
    margin-block: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-2\@large {
    margin-block: 8px !important;
  }
}
.tbds-margin-block-3 {
  margin-block: 16px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-3\@small {
    margin-block: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-3\@medium {
    margin-block: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-3\@large {
    margin-block: 16px !important;
  }
}
.tbds-margin-block-4 {
  margin-block: 24px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-4\@small {
    margin-block: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-4\@medium {
    margin-block: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-4\@large {
    margin-block: 24px !important;
  }
}
.tbds-margin-block-5 {
  margin-block: 32px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-5\@small {
    margin-block: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-5\@medium {
    margin-block: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-5\@large {
    margin-block: 32px !important;
  }
}
.tbds-margin-block-6 {
  margin-block: 40px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-6\@small {
    margin-block: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-6\@medium {
    margin-block: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-6\@large {
    margin-block: 40px !important;
  }
}
.tbds-margin-block-end-0 {
  margin-block-end: 0 !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-end-0\@small {
    margin-block-end: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-end-0\@medium {
    margin-block-end: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-end-0\@large {
    margin-block-end: 0 !important;
  }
}
.tbds-margin-block-end-1 {
  margin-block-end: 4px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-end-1\@small {
    margin-block-end: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-end-1\@medium {
    margin-block-end: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-end-1\@large {
    margin-block-end: 4px !important;
  }
}
.tbds-margin-block-end-2 {
  margin-block-end: 8px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-end-2\@small {
    margin-block-end: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-end-2\@medium {
    margin-block-end: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-end-2\@large {
    margin-block-end: 8px !important;
  }
}
.tbds-margin-block-end-3 {
  margin-block-end: 16px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-end-3\@small {
    margin-block-end: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-end-3\@medium {
    margin-block-end: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-end-3\@large {
    margin-block-end: 16px !important;
  }
}
.tbds-margin-block-end-4 {
  margin-block-end: 24px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-end-4\@small {
    margin-block-end: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-end-4\@medium {
    margin-block-end: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-end-4\@large {
    margin-block-end: 24px !important;
  }
}
.tbds-margin-block-end-5 {
  margin-block-end: 32px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-end-5\@small {
    margin-block-end: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-end-5\@medium {
    margin-block-end: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-end-5\@large {
    margin-block-end: 32px !important;
  }
}
.tbds-margin-block-end-6 {
  margin-block-end: 40px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-end-6\@small {
    margin-block-end: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-end-6\@medium {
    margin-block-end: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-end-6\@large {
    margin-block-end: 40px !important;
  }
}
.tbds-margin-block-start-0 {
  margin-block-start: 0 !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-start-0\@small {
    margin-block-start: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-start-0\@medium {
    margin-block-start: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-start-0\@large {
    margin-block-start: 0 !important;
  }
}
.tbds-margin-block-start-1 {
  margin-block-start: 4px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-start-1\@small {
    margin-block-start: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-start-1\@medium {
    margin-block-start: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-start-1\@large {
    margin-block-start: 4px !important;
  }
}
.tbds-margin-block-start-2 {
  margin-block-start: 8px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-start-2\@small {
    margin-block-start: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-start-2\@medium {
    margin-block-start: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-start-2\@large {
    margin-block-start: 8px !important;
  }
}
.tbds-margin-block-start-3 {
  margin-block-start: 16px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-start-3\@small {
    margin-block-start: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-start-3\@medium {
    margin-block-start: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-start-3\@large {
    margin-block-start: 16px !important;
  }
}
.tbds-margin-block-start-4 {
  margin-block-start: 24px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-start-4\@small {
    margin-block-start: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-start-4\@medium {
    margin-block-start: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-start-4\@large {
    margin-block-start: 24px !important;
  }
}
.tbds-margin-block-start-5 {
  margin-block-start: 32px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-start-5\@small {
    margin-block-start: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-start-5\@medium {
    margin-block-start: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-start-5\@large {
    margin-block-start: 32px !important;
  }
}
.tbds-margin-block-start-6 {
  margin-block-start: 40px !important;
}

@media (min-width: 32em) {
  .tbds-margin-block-start-6\@small {
    margin-block-start: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-block-start-6\@medium {
    margin-block-start: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-block-start-6\@large {
    margin-block-start: 40px !important;
  }
}
.tbds-margin-inline-0 {
  margin-inline: 0 !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-0\@small {
    margin-inline: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-0\@medium {
    margin-inline: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-0\@large {
    margin-inline: 0 !important;
  }
}
.tbds-margin-inline-1 {
  margin-inline: 4px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-1\@small {
    margin-inline: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-1\@medium {
    margin-inline: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-1\@large {
    margin-inline: 4px !important;
  }
}
.tbds-margin-inline-2 {
  margin-inline: 8px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-2\@small {
    margin-inline: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-2\@medium {
    margin-inline: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-2\@large {
    margin-inline: 8px !important;
  }
}
.tbds-margin-inline-3 {
  margin-inline: 16px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-3\@small {
    margin-inline: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-3\@medium {
    margin-inline: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-3\@large {
    margin-inline: 16px !important;
  }
}
.tbds-margin-inline-4 {
  margin-inline: 24px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-4\@small {
    margin-inline: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-4\@medium {
    margin-inline: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-4\@large {
    margin-inline: 24px !important;
  }
}
.tbds-margin-inline-5 {
  margin-inline: 32px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-5\@small {
    margin-inline: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-5\@medium {
    margin-inline: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-5\@large {
    margin-inline: 32px !important;
  }
}
.tbds-margin-inline-6 {
  margin-inline: 40px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-6\@small {
    margin-inline: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-6\@medium {
    margin-inline: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-6\@large {
    margin-inline: 40px !important;
  }
}
.tbds-margin-inline-end-0 {
  margin-inline-end: 0 !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-end-0\@small {
    margin-inline-end: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-end-0\@medium {
    margin-inline-end: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-end-0\@large {
    margin-inline-end: 0 !important;
  }
}
.tbds-margin-inline-end-1 {
  margin-inline-end: 4px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-end-1\@small {
    margin-inline-end: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-end-1\@medium {
    margin-inline-end: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-end-1\@large {
    margin-inline-end: 4px !important;
  }
}
.tbds-margin-inline-end-2 {
  margin-inline-end: 8px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-end-2\@small {
    margin-inline-end: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-end-2\@medium {
    margin-inline-end: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-end-2\@large {
    margin-inline-end: 8px !important;
  }
}
.tbds-margin-inline-end-3 {
  margin-inline-end: 16px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-end-3\@small {
    margin-inline-end: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-end-3\@medium {
    margin-inline-end: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-end-3\@large {
    margin-inline-end: 16px !important;
  }
}
.tbds-margin-inline-end-4 {
  margin-inline-end: 24px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-end-4\@small {
    margin-inline-end: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-end-4\@medium {
    margin-inline-end: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-end-4\@large {
    margin-inline-end: 24px !important;
  }
}
.tbds-margin-inline-end-5 {
  margin-inline-end: 32px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-end-5\@small {
    margin-inline-end: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-end-5\@medium {
    margin-inline-end: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-end-5\@large {
    margin-inline-end: 32px !important;
  }
}
.tbds-margin-inline-end-6 {
  margin-inline-end: 40px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-end-6\@small {
    margin-inline-end: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-end-6\@medium {
    margin-inline-end: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-end-6\@large {
    margin-inline-end: 40px !important;
  }
}
.tbds-margin-inline-start-0 {
  margin-inline-start: 0 !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-start-0\@small {
    margin-inline-start: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-start-0\@medium {
    margin-inline-start: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-start-0\@large {
    margin-inline-start: 0 !important;
  }
}
.tbds-margin-inline-start-1 {
  margin-inline-start: 4px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-start-1\@small {
    margin-inline-start: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-start-1\@medium {
    margin-inline-start: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-start-1\@large {
    margin-inline-start: 4px !important;
  }
}
.tbds-margin-inline-start-2 {
  margin-inline-start: 8px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-start-2\@small {
    margin-inline-start: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-start-2\@medium {
    margin-inline-start: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-start-2\@large {
    margin-inline-start: 8px !important;
  }
}
.tbds-margin-inline-start-3 {
  margin-inline-start: 16px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-start-3\@small {
    margin-inline-start: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-start-3\@medium {
    margin-inline-start: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-start-3\@large {
    margin-inline-start: 16px !important;
  }
}
.tbds-margin-inline-start-4 {
  margin-inline-start: 24px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-start-4\@small {
    margin-inline-start: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-start-4\@medium {
    margin-inline-start: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-start-4\@large {
    margin-inline-start: 24px !important;
  }
}
.tbds-margin-inline-start-5 {
  margin-inline-start: 32px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-start-5\@small {
    margin-inline-start: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-start-5\@medium {
    margin-inline-start: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-start-5\@large {
    margin-inline-start: 32px !important;
  }
}
.tbds-margin-inline-start-6 {
  margin-inline-start: 40px !important;
}

@media (min-width: 32em) {
  .tbds-margin-inline-start-6\@small {
    margin-inline-start: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-margin-inline-start-6\@medium {
    margin-inline-start: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-margin-inline-start-6\@large {
    margin-inline-start: 40px !important;
  }
}
.tbds-margin-block-auto {
  margin-block: auto !important;
}

.tbds-margin-block-end-auto {
  margin-block-end: auto !important;
}

.tbds-margin-block-start-auto {
  margin-block-start: auto !important;
}

.tbds-margin-inline-auto {
  margin-inline: auto !important;
}

.tbds-margin-inline-end-auto {
  margin-inline-end: auto !important;
}

.tbds-margin-inline-start-auto {
  margin-inline-start: auto !important;
}

.tbds-padding-block-0 {
  padding-block: 0 !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-0\@small {
    padding-block: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-0\@medium {
    padding-block: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-0\@large {
    padding-block: 0 !important;
  }
}
.tbds-padding-block-1 {
  padding-block: 4px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-1\@small {
    padding-block: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-1\@medium {
    padding-block: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-1\@large {
    padding-block: 4px !important;
  }
}
.tbds-padding-block-2 {
  padding-block: 8px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-2\@small {
    padding-block: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-2\@medium {
    padding-block: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-2\@large {
    padding-block: 8px !important;
  }
}
.tbds-padding-block-3 {
  padding-block: 16px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-3\@small {
    padding-block: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-3\@medium {
    padding-block: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-3\@large {
    padding-block: 16px !important;
  }
}
.tbds-padding-block-4 {
  padding-block: 24px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-4\@small {
    padding-block: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-4\@medium {
    padding-block: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-4\@large {
    padding-block: 24px !important;
  }
}
.tbds-padding-block-5 {
  padding-block: 32px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-5\@small {
    padding-block: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-5\@medium {
    padding-block: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-5\@large {
    padding-block: 32px !important;
  }
}
.tbds-padding-block-6 {
  padding-block: 40px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-6\@small {
    padding-block: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-6\@medium {
    padding-block: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-6\@large {
    padding-block: 40px !important;
  }
}
.tbds-padding-block-end-0 {
  padding-block-end: 0 !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-end-0\@small {
    padding-block-end: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-end-0\@medium {
    padding-block-end: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-end-0\@large {
    padding-block-end: 0 !important;
  }
}
.tbds-padding-block-end-1 {
  padding-block-end: 4px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-end-1\@small {
    padding-block-end: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-end-1\@medium {
    padding-block-end: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-end-1\@large {
    padding-block-end: 4px !important;
  }
}
.tbds-padding-block-end-2 {
  padding-block-end: 8px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-end-2\@small {
    padding-block-end: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-end-2\@medium {
    padding-block-end: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-end-2\@large {
    padding-block-end: 8px !important;
  }
}
.tbds-padding-block-end-3 {
  padding-block-end: 16px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-end-3\@small {
    padding-block-end: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-end-3\@medium {
    padding-block-end: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-end-3\@large {
    padding-block-end: 16px !important;
  }
}
.tbds-padding-block-end-4 {
  padding-block-end: 24px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-end-4\@small {
    padding-block-end: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-end-4\@medium {
    padding-block-end: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-end-4\@large {
    padding-block-end: 24px !important;
  }
}
.tbds-padding-block-end-5 {
  padding-block-end: 32px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-end-5\@small {
    padding-block-end: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-end-5\@medium {
    padding-block-end: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-end-5\@large {
    padding-block-end: 32px !important;
  }
}
.tbds-padding-block-end-6 {
  padding-block-end: 40px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-end-6\@small {
    padding-block-end: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-end-6\@medium {
    padding-block-end: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-end-6\@large {
    padding-block-end: 40px !important;
  }
}
.tbds-padding-block-start-0 {
  padding-block-start: 0 !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-start-0\@small {
    padding-block-start: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-start-0\@medium {
    padding-block-start: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-start-0\@large {
    padding-block-start: 0 !important;
  }
}
.tbds-padding-block-start-1 {
  padding-block-start: 4px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-start-1\@small {
    padding-block-start: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-start-1\@medium {
    padding-block-start: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-start-1\@large {
    padding-block-start: 4px !important;
  }
}
.tbds-padding-block-start-2 {
  padding-block-start: 8px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-start-2\@small {
    padding-block-start: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-start-2\@medium {
    padding-block-start: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-start-2\@large {
    padding-block-start: 8px !important;
  }
}
.tbds-padding-block-start-3 {
  padding-block-start: 16px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-start-3\@small {
    padding-block-start: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-start-3\@medium {
    padding-block-start: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-start-3\@large {
    padding-block-start: 16px !important;
  }
}
.tbds-padding-block-start-4 {
  padding-block-start: 24px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-start-4\@small {
    padding-block-start: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-start-4\@medium {
    padding-block-start: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-start-4\@large {
    padding-block-start: 24px !important;
  }
}
.tbds-padding-block-start-5 {
  padding-block-start: 32px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-start-5\@small {
    padding-block-start: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-start-5\@medium {
    padding-block-start: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-start-5\@large {
    padding-block-start: 32px !important;
  }
}
.tbds-padding-block-start-6 {
  padding-block-start: 40px !important;
}

@media (min-width: 32em) {
  .tbds-padding-block-start-6\@small {
    padding-block-start: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-block-start-6\@medium {
    padding-block-start: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-block-start-6\@large {
    padding-block-start: 40px !important;
  }
}
.tbds-padding-inline-0 {
  padding-inline: 0 !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-0\@small {
    padding-inline: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-0\@medium {
    padding-inline: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-0\@large {
    padding-inline: 0 !important;
  }
}
.tbds-padding-inline-1 {
  padding-inline: 4px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-1\@small {
    padding-inline: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-1\@medium {
    padding-inline: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-1\@large {
    padding-inline: 4px !important;
  }
}
.tbds-padding-inline-2 {
  padding-inline: 8px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-2\@small {
    padding-inline: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-2\@medium {
    padding-inline: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-2\@large {
    padding-inline: 8px !important;
  }
}
.tbds-padding-inline-3 {
  padding-inline: 16px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-3\@small {
    padding-inline: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-3\@medium {
    padding-inline: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-3\@large {
    padding-inline: 16px !important;
  }
}
.tbds-padding-inline-4 {
  padding-inline: 24px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-4\@small {
    padding-inline: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-4\@medium {
    padding-inline: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-4\@large {
    padding-inline: 24px !important;
  }
}
.tbds-padding-inline-5 {
  padding-inline: 32px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-5\@small {
    padding-inline: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-5\@medium {
    padding-inline: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-5\@large {
    padding-inline: 32px !important;
  }
}
.tbds-padding-inline-6 {
  padding-inline: 40px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-6\@small {
    padding-inline: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-6\@medium {
    padding-inline: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-6\@large {
    padding-inline: 40px !important;
  }
}
.tbds-padding-inline-end-0 {
  padding-inline-end: 0 !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-end-0\@small {
    padding-inline-end: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-end-0\@medium {
    padding-inline-end: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-end-0\@large {
    padding-inline-end: 0 !important;
  }
}
.tbds-padding-inline-end-1 {
  padding-inline-end: 4px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-end-1\@small {
    padding-inline-end: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-end-1\@medium {
    padding-inline-end: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-end-1\@large {
    padding-inline-end: 4px !important;
  }
}
.tbds-padding-inline-end-2 {
  padding-inline-end: 8px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-end-2\@small {
    padding-inline-end: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-end-2\@medium {
    padding-inline-end: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-end-2\@large {
    padding-inline-end: 8px !important;
  }
}
.tbds-padding-inline-end-3 {
  padding-inline-end: 16px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-end-3\@small {
    padding-inline-end: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-end-3\@medium {
    padding-inline-end: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-end-3\@large {
    padding-inline-end: 16px !important;
  }
}
.tbds-padding-inline-end-4 {
  padding-inline-end: 24px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-end-4\@small {
    padding-inline-end: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-end-4\@medium {
    padding-inline-end: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-end-4\@large {
    padding-inline-end: 24px !important;
  }
}
.tbds-padding-inline-end-5 {
  padding-inline-end: 32px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-end-5\@small {
    padding-inline-end: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-end-5\@medium {
    padding-inline-end: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-end-5\@large {
    padding-inline-end: 32px !important;
  }
}
.tbds-padding-inline-end-6 {
  padding-inline-end: 40px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-end-6\@small {
    padding-inline-end: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-end-6\@medium {
    padding-inline-end: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-end-6\@large {
    padding-inline-end: 40px !important;
  }
}
.tbds-padding-inline-start-0 {
  padding-inline-start: 0 !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-start-0\@small {
    padding-inline-start: 0 !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-start-0\@medium {
    padding-inline-start: 0 !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-start-0\@large {
    padding-inline-start: 0 !important;
  }
}
.tbds-padding-inline-start-1 {
  padding-inline-start: 4px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-start-1\@small {
    padding-inline-start: 4px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-start-1\@medium {
    padding-inline-start: 4px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-start-1\@large {
    padding-inline-start: 4px !important;
  }
}
.tbds-padding-inline-start-2 {
  padding-inline-start: 8px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-start-2\@small {
    padding-inline-start: 8px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-start-2\@medium {
    padding-inline-start: 8px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-start-2\@large {
    padding-inline-start: 8px !important;
  }
}
.tbds-padding-inline-start-3 {
  padding-inline-start: 16px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-start-3\@small {
    padding-inline-start: 16px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-start-3\@medium {
    padding-inline-start: 16px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-start-3\@large {
    padding-inline-start: 16px !important;
  }
}
.tbds-padding-inline-start-4 {
  padding-inline-start: 24px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-start-4\@small {
    padding-inline-start: 24px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-start-4\@medium {
    padding-inline-start: 24px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-start-4\@large {
    padding-inline-start: 24px !important;
  }
}
.tbds-padding-inline-start-5 {
  padding-inline-start: 32px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-start-5\@small {
    padding-inline-start: 32px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-start-5\@medium {
    padding-inline-start: 32px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-start-5\@large {
    padding-inline-start: 32px !important;
  }
}
.tbds-padding-inline-start-6 {
  padding-inline-start: 40px !important;
}

@media (min-width: 32em) {
  .tbds-padding-inline-start-6\@small {
    padding-inline-start: 40px !important;
  }
}
@media (min-width: 50em) {
  .tbds-padding-inline-start-6\@medium {
    padding-inline-start: 40px !important;
  }
}
@media (min-width: 72em) {
  .tbds-padding-inline-start-6\@large {
    padding-inline-start: 40px !important;
  }
}
.tbds-text-align-start {
  text-align: start !important;
}

@media (min-width: 32em) {
  .tbds-text-align-start\@small {
    text-align: start !important;
  }
}
@media (min-width: 50em) {
  .tbds-text-align-start\@medium {
    text-align: start !important;
  }
}
@media (min-width: 72em) {
  .tbds-text-align-start\@large {
    text-align: start !important;
  }
}
.tbds-text-align-center {
  text-align: center !important;
}

@media (min-width: 32em) {
  .tbds-text-align-center\@small {
    text-align: center !important;
  }
}
@media (min-width: 50em) {
  .tbds-text-align-center\@medium {
    text-align: center !important;
  }
}
@media (min-width: 72em) {
  .tbds-text-align-center\@large {
    text-align: center !important;
  }
}
.tbds-text-align-end {
  text-align: end !important;
}

@media (min-width: 32em) {
  .tbds-text-align-end\@small {
    text-align: end !important;
  }
}
@media (min-width: 50em) {
  .tbds-text-align-end\@medium {
    text-align: end !important;
  }
}
@media (min-width: 72em) {
  .tbds-text-align-end\@large {
    text-align: end !important;
  }
}

/*# sourceMappingURL=style.css.map */
