---
permalink: "schedules/index.html"
eleventyExcludeFromCollections: true
---

<h1>Schedules</h1>

<article class="measure">
  {% renderFile './schedules/index/_introduction.md' %}
</article>

<ul>
{% for key, schedule in schedules %}
    <li><a href="{{ key }}">{{ key }}: {{ schedule.title }}</a></li>
  {% endfor %}
</ul>


