---
number: 6
title: Analyse
permalink: "phases/analyse/index.html"
---

<h1>{{ title }}</h1>

<article class="measure">
  {% renderFile './phases/analyse/_introduction.md' %}
</article>

<h2>Exercises</h2>

<ul>
  {% for exercise in collections.analyse %}
    <li><a href="{{ exercise.data.page.url }}">{{ exercise.data.title }}</a></li>
  {% endfor %}
</ul>
