---
permalink: "sprint-guide/schedules/index.html"
layout: "layouts/internal-page.njk"
---

<div>
  <h1>Schedules</h1>
  <article>
    {% renderFile './sprint-guide/schedules/index/_introduction.md' %}
  </article>

  <ul>
    {% for key, agenda in sprint_guide.schedules %}
      <li><a href="{{ key }}">{{ agenda.title }}</a></li>
    {% endfor %}
  </ul>
</div>
