@import "fonts";
@import "tokens";
@import "typography";
@import "typography.scss";

body {
  margin: 0;
}

// STICKY FOOTER
html, body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
#footer {
  flex-shrink: 0;
}
