html {
  color: $tbds-color-text-default;
  font-family: $font-family-sans;
  font-size: 90%;
  padding: 0;

  @media (min-width: $tbds-breakpoint-medium) {
    font-size: 100%;
    padding: 0;
  }

  @media (min-width: $tbds-breakpoint-large) {
    font-size: 120%;
    padding: 0;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-sans;
  font-size: 1.2rem;
  font-weight: $font-weight-heading;
  line-height: 0.9;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3,
h4 {
  font-size: 2em;
}

h4 {
  font-weight: normal;
}

p,
li {
  font-size: 1.2rem;
}

ul {
  padding-inline-start: 2ch;
}

li {
  padding-left: $tbds-space-2;
}

blockquote {
  margin: 0;
  padding: $tbds-space-3 $tbds-space-5;
  border: 2px solid $tbds-brand-gray-ultra-light;
}
