html {
  font-family: $font-family-sans;
  font-size: 100%;
  color: $tbds-color-text-default;
  padding: 0 $tbds-space-6;

  @media (min-width: $tbds-breakpoint-large) {
    font-size: 120%;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-sans;
  font-weight: $font-weight-heading;
  font-size: 1.2rem;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3, h4 {
  font-size: 2em;
}

h4 {
  font-weight: normal;
}

p {
  font-size: 1.2rem;
}

ul {
  padding-inline-start: 2ch;
}

li {
  padding-left: $tbds-space-2;
}
