---
title: Classic (thoughtbot Flavor)
---
<h1>{{ title }}</h1>

<article class="measure">
  {% renderFile './schedules/classic-tb/_introduction.md' %}
</article>

{% set schedule = schedules.classic_tb %}
{% include "schedule.njk" %}
