---
number: 1
title: Understand
permalink: "phases/understand/index.html"
---

<h1>{{ title }}</h1>

<article class="measure">
  {% renderFile './phases/understand/_introduction.md' %}
</article>

<h2>Exercises</h2>
<ul id="exercises">
  {% for exercise in collections.understand %}
    <li><a href="{{ exercise.data.page.url }}">{{ exercise.data.title }}</a></li>
  {% endfor %}
</ul>
