---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

A Product Design Sprint is a technique to quickly design, prototype, and test the viability of an idea, product, or feature. The design sprint consists of 5 phases (typically days), starting with design thinking and ending with a user-tested prototype.

Why a Product Design Sprint?
Product Design Sprints orient the team and aims our efforts toward a mutual goal and improves the chances of making something people want.

Sprints are useful when kicking off a new business, product, or feature, as well as solving problems with an existing product.