---js
{
     pagination: {
        data: "schedules",
        size: 1,
        alias: "schedule",
        },
    permalink: "schedules/{{ pagination.items[0] | slug }}/",
    layout: "layouts/base"
}
---

<div class="eyebrow">{{ schedules[schedule].duration }}</div>
<h1>{{ schedules[schedule].title }}</h1>

<article class="measure">
{{ schedules[schedule].introduction | markdown | safe }}  
</article>

{% set agenda = schedules[schedule] %}
{% include "agenda.njk" %}