---
number: 4
title: Prototype
permalink: "sprint-guide/phases/prototype/index.html"
layout: "layouts/sprint-guide/internal-page.njk"
---

<h1>{{ title }}</h1>

<article>
  {% renderFile './sprint-guide/phases/prototype/_introduction.md' %}
</article>

<h2>Exercises</h2>

{% set collection = collections.prototype %}
{% include "sprint-guide/exercise-list.njk" %}
