.banner {
  background: lighten($tbds-brand-yellow-light, 10%);
  color: $tbds-brand-gray-dark;
  margin-inline: auto;
  padding: {
    block: $tbds-space-2;
    inline: $tbds-space-2;
  };
  text-align: center;

  @media (min-width: $tbds-breakpoint-medium) {
    padding: {
      block: $tbds-space-3;
      inline: $tbds-space-3;
    };
  }

}

.banner > p {
  font-size: 1rem;
  margin: 0;
}
