.banner {
  background: lighten($tbds-brand-yellow-light, 10%);
  color: $tbds-brand-gray-dark;
  padding: {
    block: $tbds-space-2;
    inline: $tbds-space-2;
  };

  @media (min-width: $tbds-breakpoint-medium) {
    padding: {
      block: $tbds-space-3;
      inline: $tbds-space-3;
    };
  }
  text-align: center;
}

.banner > p {
  font-size: 0.9rem;
  margin: 0;
}
