//REMOVE - Was breaking sticky footer

.container {
  padding: 0 $tbds-space-3;

  section {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 $tbds-space-3;

    @media (min-width: $tbds-breakpoint-medium) {
      padding: 0 $tbds-space-4;
    }
  
     @media (min-width: $tbds-breakpoint-large) {
      padding: 0 $tbds-space-5;
    }
  }
}
