.dl {
  border-bottom: 1px solid $tbds-brand-gray-ultra-light;
  margin-block: $tbds-space-2;
  padding-block: $tbds-space-2;

  @media (min-width: $tbds-breakpoint-medium) {
    margin-block: $tbds-space-4;
    padding-block: $tbds-space-4;
  }
}

.dl--title {
  color: $tbds-brand-red;
  font: {
    size: 1.2rem;
    weight: $tbds-font-weight-bold;
  }
  margin-bottom: $tbds-space-2;

  @media (min-width: $tbds-breakpoint-medium) {
    margin-bottom: $tbds-space-4;
  }
}

.dl--description {
  font-size: 1.2rem;
  margin-inline: 0;
  max-width: 70ch;
}
