.headline {
  display: block;
  font-size: clamp(6rem, 8vw, 7rem);
  line-height: 1;
  max-width: 15ch;
}

.headline-underline {
  position: relative;
}

.headline-underline::after {
  aspect-ratio: 8 / 1;
  bottom: -3rem;
  content: '';
  background: {
    image: url('/images/doodles/loose-underscore.svg');
    repeat: no-repeat;
    size: contain;
  }
  left: -4rem;
  position: absolute;
  width: 180%;
}

.hero {
  margin-top: 8rem;
}
