.headline {
  display: block;
  font-size: clamp(3.5rem, 8vw, 7rem);
  line-height: 1;
  max-width: 15ch;
}

.headline-underline {
  position: relative;

  &:after {
    aspect-ratio: 8 / 1;
    bottom: -1rem;
    content: '';
    background: {
      image: url('/images/doodles/loose-underscore.svg');
      repeat: no-repeat;
      size: contain;
    }
    left: -1rem;
    position: absolute;
    width: 140%;
    
    @media (min-width: $tbds-breakpoint-medium) {
      bottom: -1.5rem;
    }

    @media (min-width: $tbds-breakpoint-large) {
      bottom: -1.8rem;
    }
  }
}

.headline-image {
  width: 100%;
  margin-block: 3rem;

  @media (max-width: $tbds-breakpoint-medium) {
    margin-block: 1rem;
  }
}
