.hire-us-cta {
    background: $tbds-brand-purple;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1.5rem;
    padding-inline: 1.5rem;

    h2 {
        color: white;
    }
}
