// Extensions to tbds-inline-stack

.tbds-inline-stack {
  display: block;

  @media (min-width: $tbds-breakpoint-medium) {
    display: flex;
  }
}

.inline-stack--align-start {
  align-items: flex-start;
}

.inline-stack--gap-7 {
  --tbds-inline-stack-gap: #{$tbds-space-6 * 2};
}
