.internal-page {
    @include tbds-small {
        width: 100%;
        max-width: $tbds-breakpoint-small;
        margin: auto;
    }
    h1 {
        text-align: center;
        font-size: 3rem;
    }
    h2 {
        font-size: 1.75rem;
        line-height: 2.09rem;
    }
    .introduction {
        text-align: center;
        margin: auto;
    }
}