.menu {
  align-items: start;
  flex-direction: column;
  width: 100%;

  .inline-list {
    border-left: 2px solid $tbds-brand-gray-light;
    margin-left: 0;
    padding-left: 0;

    @media (min-width: $tbds-breakpoint-medium) {
      border-left: 0;
      margin-left: auto;
      padding-left: initial;
    }
  }

  @media (min-width: $tbds-breakpoint-medium) {
    align-items: initial;
    flex-direction: initial;
  }
}
