.phase-rows {
  list-style: none;
  padding: 0;

  @media (min-width: $tbds-breakpoint-medium) {
    display: grid;
    grid-template:
      "a . ."
      "b b b"
      "c c ."
      "d . .";

    *:nth-child(n + 2) {
      grid-area: b / auto;
    }

    *:nth-child(n + 5) {
      grid-area: c / auto;
    }

    *:nth-child(n + 7) {
      grid-area: d / auto;
    }

    li {
      margin-bottom: $tbds-space-6;
    }
  }
}

.phase {
  h3 {
    margin-top: 0;
  }
}
