.software {
  align-items: flex-start;
  border-bottom: 2px solid $tbds-brand-gray-ultra-light;
  display: flex;

  .software__logo {
    margin-right: $tbds-space-5;
    max-width: 100px;
  }

  .tag + .tag {
    margin-left: $tbds-space-2;
  }

  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }
}
