---
permalink: "sprint-guide/exercises/index.html"
---

<div id="exercises-page">
  <h1>Exercises</h1>
  <article class="measure introduction">
    {% renderFile './sprint-guide/exercises/index/_introduction.md' %}
  </article>

    <h2>Planning</h2>
    {% set collection = collections.planning %}
    {% include 'sprint-guide/exercise-list.njk' %}

    <h2>Understand</h2>
    {% set collection = collections.understand %}
    {% include 'sprint-guide/exercise-list.njk' %}

    <h2>Diverge</h2>
    {% set collection = collections.diverge %}
    {% include 'sprint-guide/exercise-list.njk' %}

    <h2>Converge</h2>
    {% set collection = collections.converge %}
    {% include 'sprint-guide/exercise-list.njk' %}

    <h2>Prototype</h2>
    {% set collection = collections.prototype %}
    {% include 'sprint-guide/exercise-list.njk' %}

    <h2>Analyse</h2>
    {% set collection = collections.analyse %}
    {% include 'sprint-guide/exercise-list.njk' %}
</div>
