<h1>Schedules</h1>

<article class="measure">
  {% renderFile './schedules/_introduction.md' %}
</article?

<ul>
  {% for schedule in collections.schedule %}
    <li><a href="{{ schedule.data.page.url }}">{{ schedule.data.title }}</a></li>
  {% endfor %}
</ul>
