---
title: Classic (GV Flavor)
---
<h1>{{ title }}</h1>

<article class="measure">
  {% renderFile './schedules/classic-gv/_introduction.md' %}
</article>

{% set schedule = schedules.classic_gv %}
{% include "schedule.njk" %}
