---
title: Classic (GV Flavor)
---

{% set schedule = schedules.classic-gv %}
<h1>{{ schedule.title }}</h1>
<div class="eyebrow">Duration:{{ duration }}</div>

<article class="measure">
  {% renderFile './schedules/classic-gv/_introduction.md' %}
</article>


{% include "schedule.njk" %}
