---
title: Classic (GV Flavor)
---

<h1>{{ title }}</h1>
<div class="eyebrow">Duration:{{ schedules[page.fileSlug].duration }}</div>

<article class="measure">
  {% renderFile './schedules/classic-gv/_introduction.md' %}
</article>

{% set agenda = schedules[page.fileSlug] %}
{% include "agenda.njk" %}
