---
number: 2
title: Diverge
permalink: "sprint-guide/phases/diverge/index.html"
layout: "layouts/sprint-guide/internal-page.njk"
---

<h1>{{ title }}</h1>

<article>
  {% renderFile './sprint-guide/phases/diverge/_introduction.md' %}
</article>

<h2>Exercises</h2>

{% set collection = collections.diverge %}
{% include "sprint-guide/exercise-list.njk" %}
