---
number: 5
title: Test
permalink: "phases/test/index.html"
---

<h1>{{ title }}</h1>

<article class="measure">
  {% renderFile './phases/test/_introduction.md' %}
</article>

<h2>Exercises</h2>

{% set collection = collections.test %}
{% include "exercise-list.njk" %}
