---
number: 3
title: Converge
permalink: "phases/converge/index.html"
---

<h1>{{ title }}</h1>

<article class="measure">
  {% renderFile './phases/converge/_introduction.md' %}
</article>

<h2>Exercises</h2>

<ul id="exercises">
  {% for exercise in collections.converge %}
    <li><a href="{{ exercise.data.page.url }}">{{ exercise.data.title }}</a></li>
  {% endfor %}
</ul>
