<div class="banner">
  <p>We're building this in the open so things may get a little weird at times. Don't worry!</p>
  <p>If you stumble onto something broken, <a href="https://github.com/thoughtbot/design-sprint-guide/issues">raise an issue </a>and we'll get Ralph right on it.</p>
</div>
