<ul class="tbds-block-stack__item schedule__grid">
      {% for schedule in collections.schedule %}
       <li>
          <a href="{{ schedule.data.page.url }}"> 
            <div class="eyebrow">Duration:{{ schedule.data.duration }}</div>
            {{ schedule.data.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
