<section class="tab-collection">
  <input type="radio" name="tab" id="tab1" class="tab-radio" checked>
  <label for="tab1" class="tab-label">
    <span class="eyebrow">
      Phase 0
    </span>
    Prepare
  </label>
  <div class="tab-content">
    <img src="/images/phases/prepare.png" alt="People working on the prepare phase">
    <div>
      <h3 class="tab-content__title">Overview of Prepare</h3>
      <p class="measure">Day one of the design sprint is about gathering all existing information/knowledge on the business, the customer and the problem and exposing our assumptions and knowledge gaps. From here can make plans to fill the riskiest knowledge gaps and validate or invalidate our riskiest assumptions.</p>
      <a href="">More about this Phase <span class="arrow">&#10230;</span></a>
    </div>
    <div class="tab-content__exercises">
      <div class="tab-content__exercises-content">
        <h3>Exercises</h3>
        <ul>
          <li>
            <a href="">Pitch practice</a>
          </li>
          <li>
            <a href="">Assumptions board</a>
          </li>
          <li>
            <a href="">Back-burner board</a>
          </li>
          <li>
            <a href="">Problem statement</a>
          </li>
          <li>
            <a href="">Critical path</a>
          </li>
          <li>
            <a href="">5 Why's</a>
          </li>
        </ul>
        <a href="">See all</a>
      </div>
    </div>
  </div>

  <input type="radio" name="tab" id="tab2" class="tab-radio">
  <label for="tab2" class="tab-label">
    <span class="eyebrow">
      Phase 01
    </span>
    Understand
  </label>
  <div class="tab-content">Tabs content for Tab #2</div>

  <input type="radio" name="tab" id="tab3" class="tab-radio">
  <label for="tab3" class="tab-label">
      <span class="eyebrow">
      Phase 02
    </span>
    Diverge
  </label>
  <div class="tab-content">Tabs content for Tab #3</div>

  <input type="radio" name="tab" id="tab4" class="tab-radio">
  <label for="tab4" class="tab-label">
      <span class="eyebrow">
      Phase 03
    </span>
    Converge
  </label>
  <div class="tab-content">Tabs content for Tab #4</div>

  <input type="radio" name="tab" id="tab5" class="tab-radio">
  <label for="tab5" class="tab-label">
    <span class="eyebrow">
      Phase 04
    </span>
    Prototype
  </label>
  <div class="tab-content">Tabs content for Tab #5</div>

  <input type="radio" name="tab" id="tab6" class="tab-radio">
  <label for="tab6" class="tab-label">
    <span class="eyebrow">
      Phase 05
    </span>
    Test
  </label>
  <div class="tab-content">Tabs content for Tab #6</div>

  <input type="radio" name="tab" id="tab7" class="tab-radio">
  <label for="tab7" class="tab-label">
    <span class="eyebrow">
      Phase 06
    </span>
    Analyze
  </label>
  <div class="tab-content">Tabs content for Tab #7</div>
</section>