<section class="tab-collection">
  <input type="radio" name="tab" id="tab1" class="tab-radio" checked>
  <label for="tab1" class="tab-label">
    <span class="eyebrow">
      Phase 00
    </span>
    Prepare
  </label>
  <div class="tab-content">
    <img src="/images/phases/prepare.png" alt="People working on the prepare phase">
    <div>
      <h3 class="tab-content__title">Overview of Prepare</h3>
      <p class="measure">In order to run a successful sprint, it’s important to do some upfront preparation. Whether you’re running the sprint for your own organization or for a client.</p>
      <a href="/phases/planning">More about this Phase <span class="arrow">&#10230;</span></a>
    </div>
    <div class="tab-content__exercises">
      <div class="tab-content__exercises-content">
        <h3>Exercises</h3>
        <ul>
          <li>
            <a href="/exercises/review-roles">Review Roles</a>
          </li>
          <li>
            <a href="/exercises/set-expectations">Set Expectations</a>
          </li>
          <li>
            <a href="/exercises/swot-analysis">SWOT Analysis</a>
          </li>
        </ul>
        <a href="/exercises">See all</a>
      </div>
    </div>
  </div>

  <input type="radio" name="tab" id="tab2" class="tab-radio">
  <label for="tab2" class="tab-label">
    <span class="eyebrow">
      Phase 01
    </span>
    Understand
  </label>
  <div class="tab-content">
    <img src="/images/phases/prepare.png" alt="People working on the prepare phase">
    <div>
      <h3 class="tab-content__title">Overview of Understand</h3>
      <p class="measure">Day one of the design sprint is about gathering all existing information/knowledge on the business, the customer and the problem and exposing our assumptions and knowledge gaps. From here can make plans to fill the riskiest knowledge gaps and validate or invalidate our riskiest assumptions.</p>
      <a href="/phases/understand">More about this Phase <span class="arrow">&#10230;</span></a>
    </div>
    <div class="tab-content__exercises">
      <div class="tab-content__exercises-content">
        <h3>Exercises</h3>
        <ul>
          <li>
            <a href="/exercises/pitch-practice">Pitch practice</a>
          </li>
          <li>
            <a href="/exercises/assumptions-board">Assumptions board</a>
          </li>
          <li>
            <a href="/exercises/backburner-board">Backburner board</a>
          </li>
          <li>
            <a href="/exercises/problem-statement">Problem statement</a>
          </li>
          <li>
            <a href="/exercises/make-a-map">Critical path</a>
          </li>
          <li>
            <a href="/exercises/5-whys">5 Why's</a>
          </li>
        </ul>
        <a href="/exercises">See all</a>
      </div>
    </div>
  </div>

  <input type="radio" name="tab" id="tab3" class="tab-radio">
  <label for="tab3" class="tab-label">
      <span class="eyebrow">
      Phase 02
    </span>
    Diverge
  </label>
  <div class="tab-content">
    <img src="/images/phases/prepare.png" alt="People working on the prepare phase">
    <div>
      <h3 class="tab-content__title">Overview of Diverge</h3>
      <p class="measure">The goal is to explore as many possibilities as possible, regardless of how realistic, feasible or viable they may or may not be. From this explosion of opportunity comes insights made when considering the implications of radically different perspectives on and approaches to solving a problem. These insights can become valuable differentiating forces and the source of unique solution inspiration.</p>
      <a href="/phases/diverge">More about this Phase <span class="arrow">&#10230;</span></a>
    </div>
    <div class="tab-content__exercises">
      <div class="tab-content__exercises-content">
        <h3>Exercises</h3>
        <ul>
          <li>
            <a href="/exercises/divide-or-swarm">Divide or Swarm</a>
          </li>
          <li>
            <a href="/exercises/lightning-demos">Lightning Demos</a>
          </li>
          <li>
            <a href="/exercises/four-step-sketches">Four-Step Sketches</a>
          </li>
        </ul>
        <a href="/exercises">See all</a>
      </div>
    </div>
  </div>

  <input type="radio" name="tab" id="tab4" class="tab-radio">
  <label for="tab4" class="tab-label">
      <span class="eyebrow">
      Phase 03
    </span>
    Converge
  </label>
  <div class="tab-content">
    <img src="/images/phases/prepare.png" alt="People working on the prepare phase">
    <div>
      <h3 class="tab-content__title">Overview of Converge</h3>
      <p class="measure">During Converge our goal is to take all of the possibilities that we have exposed over the past two days and hone in on a single version of the prototype that we will build in the next phase.</p>
      <a href="/phases/converge">More about this Phase <span class="arrow">&#10230;</span></a>
    </div>
    <div class="tab-content__exercises">
      <div class="tab-content__exercises-content">
        <h3>Exercises</h3>
        <ul>
          <li>
            <a href="/exercises/3-12-3">3-12-3</a>
          </li>
          <li>
            <a href="/exercises/final-storyboard">Final Storyboard</a>
          </li>
          <li>
            <a href="/exercises/art-museum">Art Museum</a>
          </li>
        </ul>
        <a href="/exercises">See all</a>
      </div>
    </div>
  </div>

  <input type="radio" name="tab" id="tab5" class="tab-radio">
  <label for="tab5" class="tab-label">
    <span class="eyebrow">
      Phase 04
    </span>
    Prototype
  </label>
  <div class="tab-content">
    <img src="/images/phases/prepare.png" alt="People working on the prepare phase">
    <div>
      <h3 class="tab-content__title">Overview of Prototype</h3>
      <p class="measure">The core purpose of the prototype, the assumptions you are trying to validate/invalidate or the knowledge gaps you are trying to fill should have all been discussed in Converge. During this phase you will build a quick and dirty prototype. Since you have limited time to build the prototype it should be as low-fi as you can get away with during Testing.</p>
      <a href="/phases/prototype">More about this Phase <span class="arrow">&#10230;</span></a>
    </div>
    <div class="tab-content__exercises">
      <div class="tab-content__exercises-content">
        <h3>Exercises</h3>
        <ul>
          <li>
            <a href="/exercises/build-a-prototype">Build a Prototype</a>
          </li>
          <li>
            <a href="/exercises/test-script">Write a Testing Script</a>
          </li>
        </ul>
        <a href="/exercises">See all</a>
      </div>
    </div>
  </div>

  <input type="radio" name="tab" id="tab6" class="tab-radio">
  <label for="tab6" class="tab-label">
    <span class="eyebrow">
      Phase 05
    </span>
    Test
  </label>
  <div class="tab-content">
    <img src="/images/phases/prepare.png" alt="People working on the prepare phase">
    <div>
      <h3 class="tab-content__title">Overview of Test</h3>
      <p class="measure">One of the last phases of the Product Design Sprint is to test our assumptions and how users react to the prototype. Going into each test you should have a plan of what you are testing and how you know if that is successful or not.</p>
      <a href="/phases/test">More about this Phase <span class="arrow">&#10230;</span></a>
    </div>
    <div class="tab-content__exercises">
      <div class="tab-content__exercises-content">
        <h3>Exercises</h3>
        <ul>
          <li>
            <a href="/exercises/interview">Conduct user interviews</a>
          </li>
          <li>
            <a href="/exercises/scorecard">Create a scorecard</a>
          </li>
        </ul>
        <a href="/exercises">See all</a>
      </div>
    </div>
  </div>

  <input type="radio" name="tab" id="tab7" class="tab-radio">
  <label for="tab7" class="tab-label">
    <span class="eyebrow">
      Phase 06
    </span>
    Analyze
  </label>
  <div class="tab-content">
    <img src="/images/phases/prepare.png" alt="People working on the prepare phase">
    <div>
      <h3 class="tab-content__title">Overview of Analyse</h3>
      <p class="measure">The final phase of any design sprint is to take a step back and analyse the results and decide the next steps for the team. This is also great time to share how the sprint went with other people</p>
      <a href="/phases/analyse">More about this Phase <span class="arrow">&#10230;</span></a>
    </div>
    <div class="tab-content__exercises">
      <div class="tab-content__exercises-content">
        <h3>Exercises</h3>
        <ul>
          <li>
            <a href="/exercises/present-results">Present the results</a>
          </li>
          <li>
            <a href="/exercises/retrospective">Sprint Retrospective</a>
          </li>
        </ul>
        <a href="/exercises">See all</a>
      </div>
    </div>
  </div>
</section>
