---
layout: 'layouts/base'
permalink: "resources/index.html"
eleventyExcludeFromCollections: true
---

<h1>Resources</h1>
<article class="measure">
  {% renderFile './resources/_introduction.md' %}
</article>

{% renderFile './resources/_list.md' %}
