---
eleventyExcludeFromCollections: true
---

<h1>Resources & Glossary</h1>

<h2>Resources</h2>
{% for resource in collections.resource %}
  <li><a href="{{ resource.data.page.url }}">{{ resource.data.title }}</a></li>
{% endfor %}

<h2>Glossary</h2>
{% for term in collections.glossary %}
  <li><a href="{{ term.data.page.url }}">{{ term.data.title }}</a></li>
{% endfor %}
