---
layout: 'layouts/base'
permalink: "resources/index.html"
eleventyExcludeFromCollections: true
---

<div id="resources-page" class="internal-page">
  <h1>Resources</h1>
  <article class="measure">
    {% renderFile './resources/_introduction.md' %}
  </article>

  {% renderFile './resources/_list.md' %}
</div>
