---
number: 3
title: Converge
permalink: "sprint-guide/phases/converge/index.html"
layout: "layouts/internal-page.njk"
---

<h1>{{ title }}</h1>

<article>
  {% renderFile './sprint-guide/phases/converge/_introduction.md' %}
</article>

<h2>Exercises</h2>

{% set collection = collections.converge %}
{% include "sprint-guide/exercise-list.njk" %}
