---
permalink: "exercises/index.html"
---

<h1>Exercises</h1>
<article class="measure">
  {% renderFile './exercises/_introduction.md' %}
</article>

<h2>Understand</h2>
<ul>
  {% for exercise in collections.understand %}
  <li><a href="{{ exercise.data.page.url }}">{{ exercise.data.title }}</a></li>
  {% endfor %}
</ul>

<h2>Diverge</h2>
<ul>
  {% for exercise in collections.diverge %}
  <li><a href="{{ exercise.data.page.url }}">{{ exercise.data.title }}</a></li>
  {% endfor %}
</ul>

<h2>Converge</h2>
<ul>
  {% for exercise in collections.converge %}
  <li><a href="{{ exercise.data.page.url }}">{{ exercise.data.title }}</a></li>
  {% endfor %}
</ul>
