---
number: 1
title: Understand
permalink: "sprint-guide/phases/understand/index.html"
layout: "layouts/internal-page.njk"
---

<h1>{{ title }}</h1>

<article>
  {% renderFile './sprint-guide/phases/understand/_introduction.md' %}
</article>

<h2>Exercises</h2>

{% set collection = collections.understand %}
{% include "sprint-guide/exercise-list.njk" %}
