---
number: 5
title: Test
permalink: "sprint-guide/phases/test/index.html"
layout: "layouts/sprint-guide/internal-page.njk"
---

<h1>{{ title }}</h1>

<article>
  {% renderFile './sprint-guide/phases/test/_introduction.md' %}
</article>

<h2>Exercises</h2>

{% set collection = collections.test %}
{% include "sprint-guide/exercise-list.njk" %}
