---
number: 0
title: Planning
permalink: "sprint-guide/phases/planning/index.html"
layout: "layouts/internal-page.njk"
---

<h1>{{ title }}</h1>

{% renderFile './sprint-guide/phases/planning/_introduction.md' %}

<h2>Exercises</h2>

{% set collection = collections.planning %}
{% include "sprint-guide/exercise-list.njk" %}
