.tbds-brand-red {
  color: $tbds-brand-red;
}

::selection {
  background: $tbds-brand-red;
  color: white;
}

.link__red {
  color: $tbds-brand-red;
  
  &:hover {
    color: $tbds-brand-gray-dark;
  }
}