.arrow-hero {
  position: relative;
  
  &:after {
    aspect-ratio: 2 / 1;
    bottom: -8rem;
    content: '';
    background: {
      image: url('/images/doodles/small-curvy-arrow.svg');
      repeat: no-repeat;
      size: contain;
    }
    position: absolute;
    right: 1rem;
    width: 20rem;
  }
}

.arrow-curvy__small {
  width: 100%;
  position: relative;

  &:after {
    aspect-ratio: 1 / 1;
    background: {
      image: url('/images/doodles/small-curvy-arrow.svg');
      repeat: no-repeat;
      size: contain;
    }
    content: '';
    position: absolute;
    display: none;


    @media (min-width: 950px) {
      display: flex;
      right: 15%;
      width: 11rem;
      top: -7rem;
    }

     @media (min-width: $tbds-breakpoint-medium) {
      width: 11rem;
      right: 30%;
      top: -6rem;
    }

    @media (min-width: 1350px) {
      width: 13rem;
      right: 12%;
      top: -7rem;
    }

    @media (min-width: 1565px) {
      right: 25%;
    }

    @media (min-width: 1850px) {
      right: 35%;
      width: 15rem;
      top: -8rem;
    }
  }
}

