// FIX - was created to style typography on homepage

// .measure {
//   @media (min-width: $tbds-breakpoint-medium) {
//     max-width: 60ch;
//   }

//   @media (min-width: $tbds-breakpoint-medium) {
//     max-width: 70ch;
//   }
// }

// .measure-large {
//   max-width: 70ch;
// }
