---
number: 6
title: Analyse
permalink: "sprint-guide/phases/analyse/index.html"
layout: "layouts/sprint-guide/internal-page.njk"
---

<h1>{{ title }}</h1>

<article>
  {% renderFile './sprint-guide/phases/analyse/_introduction.md' %}
</article>

<h2>Exercises</h2>

{% set collection = collections.analyse %}
{% include "sprint-guide/exercise-list.njk" %}
