<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="menu | tbds-inline-stack tbds-margin-block-3 tbds-margin-block-6@medium container" aria-labelledby="primary navigation" id="header">
      <div class="logo tbds-inline-stack__item">
        <a href="/">
          <img src="/images/logo.svg" alt="thoughtbot logo" />
        </a>
        <p class="tbds-brand-red">
          Design Sprint Guide <br/>
          by <a class="tbds-brand-red" href="https://thoughtbot.com">thoughtbot</a>
        </p>
      </div>

      <ul class="inline-list tbds-inline-stack tbds-inline-stack__item--push-start">
        <li class="tbds-inline-stack__item"><a href="/schedules">Schedules</a></li>
        <li class="tbds-inline-stack__item"><a href="/exercises">Exercises</a></li>
        <li class="tbds-inline-stack__item"><a href="/#faqs">FAQs</a></li>
        <li class="tbds-inline-stack__item"><a href="/resources">Resources</a></li>
      </ul>
    </nav>

    {% if page.url !== "/" %}
      <nav class="breadcrumb | tbds-margin-block-4 tbds-margin-block-6@medium container" aria-labelledby="navigate back to the previous pages">{% breadcrumbs page.url %}</nav>
    {% endif %}

    <div>{% include "../banner.njk" %}</div>

    <main class="container">{{ content | safe }}</main>

    <nav class="menu | tbds-inline-stack tbds-margin-block-6 container" aria-labelledby="footer navigation" id="footer">
      <div class="logo tbds-inline-stack__item">
        <p>&copy; 2022 thoughtbot, inc.</p>
      </div>

      <ul class="inline-list tbds-inline-stack tbds-inline-stack__item--push-start">
        <li class="tbds-inline-stack__item"><a href="/schedules">Schedules</a></li>
        <li class="tbds-inline-stack__item"><a href="/exercises">Exercises</a></li>
        <li class="tbds-inline-stack__item"><a href="/#faqs">FAQs</a></li>
        <li class="tbds-inline-stack__item"><a href="/resources">Resources</a></li>
      </ul>
    </nav>
    <script src="/js/main.js"></script>
  </body>
</html>
